<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Home page</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo-container">
                <img>
                <p class="text-logo">Pepsi Max</p>
            </div>

            <div class="login-registration-form">
                <a href="/">Login</a>
                <a href="/">Register</a>
            </div>
        </nav>
    </header>
</body>

</html>